.wrapper {
    padding-top: 50px;
    background: linear-gradient(to bottom, #0DCDFF, #0C9BE8, #0C9BE8 );
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }